@charset "utf-8";
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Poppins, Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------- Header ---------------------- */

body {
    background-color: #dfdfdf;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 65px;
    border-radius: 0 0 10px 10px;
    padding: 7px 0px;
    position: relative;
}

.logo {
    height: 50px;
    margin: 9px 0px 0px 50px;
    display: inline-block;
}

.icon {
    font-size: 24px;
    float: right;
    margin: 18px 35px 0px 0px;
    cursor: pointer;
    color: #001fcf;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: #001fcf;
    float: right;
    margin: 18px 60px 0px 0px;
    font-size: 24px;
    cursor: pointer;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

li {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    border-radius: 20px;
}

li:hover {
    background-color: #001fcf;
    color: white;
    border-radius: 20px;
    transition: 0.4s;
    padding: 7px 12px;
    box-sizing: border-box;
}

.search-container {
    position: absolute;
    top: 10px;
    right: 200px;
    padding: 10px;
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;
    transform: translateX(10px);
    transition: 0.3s ease;
} 

/* Quando ativa */
.search-container.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.search-container input {
    border: 1px solid #ccc;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    width: 160px;
}

/* ---------------------- Header ---------------------- */
