@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://i.pinimg.com/1200x/39/48/02/39480257aae68c49790d5e0c341f2817.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

a {
    color: #0400e2;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    box-sizing: border-box;
    margin-bottom: 4px;
    transition: 0.2s;
}

.logo {
    width: 50px;
    margin-top: 6px;
    margin-left: 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: rgb(236, 236, 236);
    border-radius: 0 0 10px 10px;
}

.menu-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 77vw;
    justify-content: space-evenly;
    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 25px;
    height: 2px;
    background-color: #0026ff;
    margin: 6px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 94vh;
        background-color: #ececec;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }
}

.fi {
    font-size: 25px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
