@charset "UTF-8";
/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3.5rem;

    /* Colors */

    --first-color: #0540F2;
    --second-color: #1B63F2;
    --text-color: #e4e4e4;
    --text-color-light: #ffffff;
    --body-color: #090438;

    /* ============ Font and Typography ============== */
    /* .5rem = 8px | 1rem = 16px */

    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;

    /* ========== Font Weight ========== */
    --font-semi-bold: 600;

    /* =========== z index ============ */
    --z-fixed: 100;
}

/* Responsive Typografy */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: #1d1d1d;
    background-color: #fff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


 .bd-grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 5rem;
  background-color: transparent;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img{
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    width: 60%;
    box-shadow: 0px 0px 20px -4px;
    border-radius: 0 30px 30px 0;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
  }

}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav__img img {
  width: 70px;
}

.nav__name {
  display: block;
  font-size: var(--nav-name-font-size);
  color: var(--white-color);
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--first-color-light);
}

.nav__link:hover{
    color: var(--first-color);

}
/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: var(--first-color);
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 769px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav__img {
    height: auto;
    margin-right: .5rem;
    margin-bottom: 0;
  }
  .nav__img img {
    width: 55px;
  }
  .nav__name {
    color: var(--dark-color);
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }
  .nav__link:hover {
    color: var(--first-color);
  }
  /*Active link new color*/
  .active {
    color: var(--first-color);
  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0px -23px;
    top: calc(var(--header-height) + 1rem);
    padding: .5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.219);
    border-radius: .5rem;
    background-color: #ffffff;
  }
  .dropdown__item {
    margin: .5rem 0;
    color: #181818;
  }
}

/* Responsive Typografy */

/* ================ BASE ============== */

.conteiner{
    max-width: 1024px;
    margin-inline: 1.5rem;
}
.main{
    overflow: hidden;
}

.nav__link{
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
header{
    transition: 0.3s ease-in-out;
}

header.roll{
    background: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 25px -4px;
}

.home-container{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 15px;
  margin: 65px 10px 0px 10px;
  height: 90vh;
  box-shadow: 0 0 21px -12px black;
}

.home-content{
  display: flex;
  align-content: center;
  flex-flow: wrap row;
  align-items: flex-end;
  justify-content: center;
}

.home-description{
  margin-bottom: 20px;
}

.home-button{
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
  bottom: 30px;
}


.home-content h1{
  font-size: 48px;
  line-height: 3.5rem;
  margin: 30px 0 20px 0;
}

.home-img{
  width: 458px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.home-post{
  border-radius: 20px;
}

.img{
  width: 160px;
}

.home-button button{
  width: 110px;
  border-radius: 40px;
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  background-color: #0540F2;
  box-shadow: 0 0 10px -1px black;
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
}

.home-button button:hover{
  box-shadow: 0 0 20px 1px #1e3ffd;
  transform: scale(1.07);
}

.card-content{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.title{
  margin: 20px;
}

.card-list .card-item{
  list-style: none;

}

.card-wrapper{
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item .card-link{
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0 0 21px -12px black;
  border: 2px solid transparent;
  transition: 0.4s ease;
}

.card-list .card-item .card-link:active{
  cursor: grabbing;
}

.card-list .card-item .card-link:hover{
  border-color: #0540F2;
}

.bg-image{
  height: 230px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  border-radius: 10px;
}

.card-image{
  height: 230px;
}

.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge{
  color: #1B63F2;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.eletrica{
 color: #ff7b00;
 background: #f8e3cf;
}

.card-list .card-link .badge.magnetica{
  color: #1B63F2;
  background: #dde4ff;
}

.card-list .card-link .card-title{
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button{
  height: 35px;
  width: 35px;
  color: #1e3ffd;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #1e3ffd;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.fi-rr-arrow-small-right{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.card-list .card-link:hover .card-button{
  color: #fff;
  background: #1e3ffd;
}

.card-wrapper .swiper-pagination-bullet{
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #0540F2;
}

.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
}

.card-wrapper .swiperslide{
  color: #0540F2;
  margin-top: -35px;
}

@media screen and (max-width: 768px){
  .card-wrapper{
    margin: 0 10px 25px;
  }

  .swiperslide{
    display: none;
  }
}

footer{
    width: 100%;
    color: var(--text-color-light);
}

.footer_content{
    background-color: #050222;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    gap: 2rem;
}

.footer_contacts span{
    margin-bottom: 0.75rem;
}

.footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer_link{
    font-size: 1.25rem;
    color: var(--text-color);
    transition: all 0.4s;
}

.footer_link:hover{
    opacity: 0.7;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-link{
    color: #cacaca;
    transition: all 0.4s;
}

.footer-link:hover{
    color: #ffffff;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color: #02000e;
}

.footer_contacts p{
    max-width: 250px;
}

@media screen and (max-width: 768px) {
    .footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

.description_section{
  margin: 20px;
  border-radius: 40px;
  box-shadow: 0 0 21px -12px black;
  padding: 15px;
}

.description_text-1 h2{
  margin-top: 30px;
  line-height: 2rem;
  margin-bottom: 10px;
}

.description_text-2 h2{
  margin-top: 30px;
  line-height: 2rem;
  margin-bottom: 10px;
}

.redonda{
  rotate: 1deg;
}
